In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from sqlalchemy import create_engine
import psycopg2

prem_res_url = 'https://fbref.com/en/comps/9/2022-2023/schedule/2022-2023-Premier-League-Scores-and-Fixtures'
prem_stad_url = 'https://en.wikipedia.org/wiki/2022%E2%80%9323_Premier_League'

In [2]:
#FACT TABLE
res_data = requests.get(prem_res_url).text
prem_res_df = pd.read_html(res_data)[0]

#remove nulls 
prem_res_df = prem_res_df[prem_res_df['Score'].notnull()]

#split scores
split_scores = [x for x in prem_res_df['Score'].str]
prem_res_df['Home goals'] = split_scores[0]
prem_res_df['Away goals'] = split_scores[2]

#change data types
prem_res_df['Date'] = pd.to_datetime(prem_res_df['Date'])  
prem_res_df['Time'] = pd.to_datetime(prem_res_df['Time']).dt.time
prem_res_df['Home goals']=prem_res_df['Home goals'].astype('int')
prem_res_df['Away goals']=prem_res_df['Away goals'].astype('int')

#delete unwanted columns 
prem_res_df = prem_res_df.drop(prem_res_df.columns[[1, 5, 7,12,13]], axis=1)


#CLUB DIM TABLE
club_data = requests.get(prem_stad_url).text
club_df = pd.read_html(club_data, match='Stadium')[0]

#replace team names
club_df['Team'] = club_df['Team'].replace({'Brighton & Hove Albion':'Brighton', 
                               'Manchester United':'Manchester Utd','Newcastle United': 'Newcastle Utd', 
                     'Tottenham Hotspur':'Tottenham', 'West Ham United':'West Ham', 'Wolverhampton Wanderers':'Wolves',
                                          "Nottingham Forest":"Nott'ham Forest"})

#replace stadium names
club_df['Stadium'] = club_df['Stadium'].replace({'Falmer Stadium':'The American Express Community Stadium', 
                               'City of Manchester Stadium':'Etihad Stadium',
          'Dean Court': 'Vitality Stadium', 'City Ground':'The City Ground'})
club_df['Capacity'] = club_df['Capacity'].replace({'62,500[10]':'62500'})

club_df=club_df.rename({'Team':'Club'},axis=1)
club_df["club_pk"] = club_df["Club"].rank()

#referee DIM TABLE
referee_df = pd.DataFrame(prem_res_df['Referee'].unique()) 
referee_df['Referee_name'] = referee_df[0]
referee_df = referee_df.drop(referee_df.columns[0], axis=1)

C:\Users\Efe\AppData\Local\Temp\ipykernel_15396\1968640649.py:9: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  split_scores = [x for x in prem_res_df['Score'].str]

In [3]:
#MOVE TABLES TO SQL STAGING AREA 
#connection string 
conn_string = create_engine('postgresql+psycopg2://postgres:Packlunch8*@localhost/premdw')

#insert the dataframe into database
prem_res_df.to_sql('sfact',conn_string, if_exists='replace', schema='staging', index = False)
club_df.to_sql('club_sdim',conn_string, if_exists='replace', schema='staging', index = False)
referee_df.to_sql('ref_sdim',conn_string, if_exists='replace', schema='staging', index = False)

21

In [4]:
#MOVE TABLES TO CORE
core_dim_insert = '''




----home club dim
insert into core.home_club_dim(club_pk, club, location, stadium, capacity)

select "club_pk"::int, "Club"::varchar as club, "Location"::varchar as location, "Stadium"::varchar as stadium, 
"Capacity"::bigint as capacity
from staging.club_sdim
order by club_pk

ON CONFLICT (club_pk, club, location, stadium, capacity) DO NOTHING;


----away club dim
insert into core.away_club_dim(club_pk, club, location, stadium, capacity)

select "club_pk"::int, "Club"::varchar as club, "Location"::varchar as location, "Stadium"::varchar as stadium,
"Capacity"::bigint as capacity
from staging.club_sdim
order by club_pk

ON CONFLICT (club_pk, club, location, stadium, capacity) DO NOTHING;


----referee dim
----generated primary key
insert into core.ref_dim("Referee_name")

select "Referee_name" from staging.ref_sdim

ON CONFLICT ("Referee_name") DO NOTHING;


'''
conn_string.execute(core_dim_insert)

In [5]:
core_fact_insert = '''insert into core.fact(game_week_fk, date_fk, time_fk, home_club_fk, home, score, away, away_club_fk,
attendance, venue, referee_fk, home_goals, away_goals, etl_last_update )
    
select
    "Wk"::int as game_week_fk, 
    replace(("Date"::date)::varchar,'-','')::bigint as date_fk,
    replace(("Time"::time)::varchar,':','')::bigint as time_fk,
    cd.club_pk::int as home_club_fk,
    "Home"::varchar as home,
    "Score"::varchar as score,
    "Away"::varchar as away,
    cda.club_pk::int as away_club_fk,
    "Attendance"::bigint as attendance,
    "Venue"::varchar as venue,
    rd."Referee_pk" as referee_fk,
    "Home goals"::int as home_goals,
    "Away goals"::int as away_goals,
    current_timestamp::timestamp(0) as etl_last_update
from staging.sfact
left join staging.club_sdim cd on "Home" = cd."Club"
left join staging.club_sdim cda on "Away" = cda."Club"
left join core.ref_dim rd on "Referee" = rd."Referee_name"

--use line below on upsert
where ("Date"::date||' '||"Time")::timestamp > (select max(etl_last_update) from core.fact)

order by "Date","Time", "Home"; '''
conn_string.execute(core_fact_insert)

In [6]:
pd.read_sql_query("select * from core.fact",conn_string)

,game_pk,game_week_fk,date_fk,time_fk,home_club_fk,home,score,away,away_club_fk,attendance,venue,referee_fk,home_goals,away_goals,etl_last_update
0,1,1,20220805,200000,7,Crystal Palace,0–2,Arsenal,1,25286,Selhurst Park,1,0,2,2023-02-21 16:14:32
1,2,1,20220806,123000,9,Fulham,2–2,Liverpool,12,22207,Craven Cottage,2,2,2,2023-02-21 16:14:32
2,3,1,20220806,150000,3,Bournemouth,2–0,Aston Villa,2,11013,Vitality Stadium,6,2,0,2023-02-21 16:14:32
3,4,1,20220806,150000,10,Leeds United,2–1,Wolves,20,36347,Elland Road,5,2,1,2023-02-21 16:14:32
4,5,1,20220806,150000,15,Newcastle Utd,2–0,Nott'ham Forest,16,52245,St James' Park,4,2,0,2023-02-21 16:14:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,228,24,20230218,150000,20,Wolves,0–1,Bournemouth,3,31222,Molineux Stadium,17,0,1,2023-02-21 16:14:32
228,229,24,20230218,173000,15,Newcastle Utd,0–2,Liverpool,12,52758,St James' Park,1,0,2,2023-02-21 16:14:32
229,230,24,20230219,140000,14,Manchester Utd,3–0,Leicester City,11,73578,Old Trafford,16,3,0,2023-02-21 16:14:32
230,231,24,20230219,163000,18,Tottenham,2–0,West Ham,19,61476,Tottenham Hotspur Stadium,10,2,0,2023-02-21 16:14:32
231,232,25,20230224,200000,9,Fulham,1–1,Wolves,20,24399,Craven Cottage,10,1,1,2023-02-25 10:25:57

In [7]:
conn_string.dispose()